@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-background: #000336;
  --color-text: #fff;
  --color-accent: #ED9745;
}

@font-face {
  font-family: "Magnetar";
  src: url("/src/assets/fonts/Magnetar.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Conthrax-SemiBold";
  src: url("/src/assets/fonts/Conthrax-SemiBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Magnetar", sans-serif;
}

.designathon p {
  font-family: "Conthrax-SemiBold", sans-serif;
}